{%extends 'app/base.html' %}
{%block contenido%}
{% load crispy_forms_tags %}
{% load static %}
    <!-- Archivos CSS de Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">

    <!-- Archivos CSS personalizados -->
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style-index.css' %}">
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-success text-white" id="card">Inicio de Sesión</div>
                    <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy }}
                            | <input type="submit" value="Iniciar Sesión" class="btn btn-success float-right"> |
                            <a href="{% url 'inicio' %}">Ir al Inicio</a> 
                            
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{%endblock%}