{% extends 'app/admin/base.html' %}

{% block contenido %}
{% load static %}

<div class="pagetitle bg-dark rounded">
  <h1 class="text-light">Editar Precio</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'adminInicio' %}" class="text-light">Inicio</a></li>
      <li class="breadcrumb-item active text-light">Editar Precio</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<div class="container-fluid">
  <div class="col-12">
    <div class="card top-selling overflow-auto bg-dark">
      <div class="card-body pb-0 bg-dark">
        <h5 class="card-title text-light">Productos a editar: <span>| PumblusPanel</span></h5>

        <table class="table table-borderless">
          <thead>
            <tr class="text-light">
              <th scope="col">Imagen</th>
              <th scope="col">Producto</th>
              <th scope="col">Precio actual</th>
              <th scope="col">Nuevo precio</th>
              <th scope="col">Diferencia</th>
            </tr>
          </thead>
          <tbody>
            {% for plumbus in data %}
            <tr class="border border-3 border-secondary text-light">
              <th scope="row"><a href="#"><img src="{{ plumbus.imagen.url }}" width="450" alt=""></a></th>
              <td><a href="#" class="name-product fw-bold">{{ plumbus.nombre }}</a></td>
              <td>{{ plumbus.precio }}</td>
              <td class="fw-bold"> <input type="text" name="precio_nuevo" id="input-{{ plumbus.id }}"></td>
              <td id="diferencia-{{ plumbus.id }}">$5828 </td>
              <td><button type="button" onclick="calcularDiferencia({{ plumbus.id }})" class="btn btn-success" id="ajustar-{{ plumbus.id }}">Ajustar</button></td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- End Top Selling -->
</div>
{% endblock %}
